@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Playfair+Display:wght@400;600&display=swap';

@import 'bootstrap';
@import 'swiper';




.img-holder {
	img {
		max-width: 100%;
		height: auto;
	}
}

.lh-2x {
	line-height: 2;
}


.page-title {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: flex-end;
	padding-bottom: 4vh;
	height: 40vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	@include media-breakpoint-down(xs) {
		padding-bottom: 3vh;
		height: 30vh;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background: transparentize($gray-800, 0.25);
	}
	.page-title-t {
		text-align: center;
		color: $white;
		margin-bottom: 0;
	}
}





#wrapper {
	overflow: hidden;
	position: relative;
}

main[role='main'] {
	padding: $spacer * 4 0;
}

.subsection {
	padding: $spacer * 6 0;
	@include media-breakpoint-down(md) {
		padding: $spacer * 5 0;
	}
	@include media-breakpoint-down(sm) {
		padding: $spacer * 4 0;
	}
}



#header {
	padding: $spacer $spacer * 3;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include media-breakpoint-down(sm) {
		padding: $spacer;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		height: 200px;
		background: linear-gradient(to bottom,
			hsl(335, 23.53%, 20%) 0%,
			hsla(335, 23.53%, 20%, 0.987) 8.1%,
			hsla(335, 23.53%, 20%, 0.951) 15.5%,
			hsla(335, 23.53%, 20%, 0.896) 22.5%,
			hsla(335, 23.53%, 20%, 0.825) 29%,
			hsla(335, 23.53%, 20%, 0.741) 35.3%,
			hsla(335, 23.53%, 20%, 0.648) 41.2%,
			hsla(335, 23.53%, 20%, 0.55) 47.1%,
			hsla(335, 23.53%, 20%, 0.45) 52.9%,
			hsla(335, 23.53%, 20%, 0.352) 58.8%,
			hsla(335, 23.53%, 20%, 0.259) 64.7%,
			hsla(335, 23.53%, 20%, 0.175) 71%,
			hsla(335, 23.53%, 20%, 0.104) 77.5%,
			hsla(335, 23.53%, 20%, 0.049) 84.5%,
			hsla(335, 23.53%, 20%, 0.013) 91.9%,
			hsla(335, 23.53%, 20%, 0) 100%
		);
		@include media-breakpoint-down(xs) {
			height: 120px;
		}
	}
	&.header-light {
		background: $white;
		&:after {
			display: none;
		}
		.mainnav {
			a {
				color: $gray-500;
				&:hover,
				&:focus {
					color: $gray-800;
				}
				&:before {
					background: $gray-300;
				}
			}
		}
	}
	.mobile-nav-toggler {
		@include media-breakpoint-down(sm) {
			padding: $spacer * 0.75;
		}
		@include media-breakpoint-down(xs) {
			padding: $spacer * 0.5;
		}
	}
	.logo {
		padding: 0;
		a {
			display: block;
			transition: all 0.2s;
			&:hover {
				opacity: 0.85;
			}
		}
		img {
			@include media-breakpoint-down(sm) {
				max-height: 72px;
			}
			@include media-breakpoint-down(xs) {
				max-height: 48px;
			}
		}
	}
	.mainnav {
		margin-left: auto;
		a {
			position: relative;
			padding: $spacer * 2 $spacer * 1.5;
			text-transform: uppercase;
			font-weight: 500;
			line-height: 1;
			color: $white;
			@include media-breakpoint-down(lg) {
				padding: $spacer * 1.25;
				text-align: center;
			}
			&:hover {
				&:before {
					left: $spacer * 1.5;
					right: $spacer * 1.5;
					opacity: 1;
				}
			}
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: calc(50% - 0.5px);
				right: calc(50% - 0.5px);
				background: $white;
				height: 6px;
				opacity: 0;
				transition: all 0.4s;
			}
		}
	}
}
.offcanvas-header {
	display: none;
	@include media-breakpoint-down(lg) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $spacer * 1.25;
		margin-bottom: $spacer;
	}
	.btn-close {
		@include media-breakpoint-down(sm) {
			padding: $spacer * 0.75;
		}
		@include media-breakpoint-down(xs) {
			padding: $spacer * 0.5;
		}
	}
}
.screen-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: rgba($black, 0.85);
	backdrop-filter: blur(12px);
	transition: opacity .2s linear, visibility .1s, width 1s ease-in;
	&.show {
		width: 100%;
		opacity: 1;
		visibility: visible;
		transition: opacity .5s ease, width 0s;
	}
}
.mobile-offcanvas {
	width: 100%;
	@include media-breakpoint-down(lg) {
		// background: $white;
		display: block;
		visibility: hidden;
		border-radius: 0;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1200;
		width: 320px;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		transform: translateX(100%);
		transition: visibility .2s ease-in-out, transform .2s ease-in-out;
	}
	&.show {
		@include media-breakpoint-down(lg) {
			visibility: visible;
			transform: translateX(0);
		}
	}
}


#footer {
	border-top: 1px solid $gray-200;
	padding: $spacer * 3.75 0;
	text-align: center;
}




#home-slider {
	height: 100vh;
	.swiper-slide {
		max-height: 100vh;
		display: flex;
		align-items: flex-end;
		position: relative;
		@include media-breakpoint-down(sm) {
			flex-direction: column-reverse;
		}
		&.swiper-slide-active {
			.slider-caption {
				.slider-caption-content {
					clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
					@include media-breakpoint-down(sm) {
						clip-path: none;
					}
				}
				.slider-caption-btn {
					bottom: 0;
					opacity: 1;
				}
			}
		}
		.container {
			position: relative;
			z-index: 2;
			@include media-breakpoint-down(sm) {
				max-width: none;
				width: 100%;
			}
		}
		.img-holder {
			position: absolute;
			width: 100%;
			height: 100vh;
			z-index: 1;
			@include media-breakpoint-down(sm) {
				position: relative;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.slider-caption {
			padding-bottom: $spacer * 4;
			@include media-breakpoint-down(xxl) {
				padding-bottom: $spacer * 2;
			}
			@include media-breakpoint-down(sm) {
				padding-bottom: $spacer;
			}
			.slider-caption-content {
				color: $gray-800;
				margin-bottom: $spacer * 2;
				padding: $spacer * 1.5 $spacer * 1.5 $spacer * 1.75;
				background: rgba($white, 0.8);
				backdrop-filter: blur(8px);
				clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
				transition: all 0.75s cubic-bezier(0.87, 0, 0.13, 1);
				transition-delay: 0.5s;
				@include media-breakpoint-down(xxl) {
					margin-bottom: $spacer;
				}
				@include media-breakpoint-down(sm) {
					padding: $spacer 0;
					margin-bottom: 0;
					clip-path: none;
				}
				.slider-caption-content-content {
					font-size: $lead-font-size;
					@include media-breakpoint-down(xxl) {
						font-size: $font-size-base;
					}
					@include media-breakpoint-down(xxl) {
						font-size: $font-size-sm;
					}
				}
			}
			.slider-caption-title {
				line-height: 1;
				@include media-breakpoint-down(sm) {
					font-size: calc(1rem + 1vw);
					margin-bottom: $spacer * 0.5;
				}
			}
			.lead {
				color: $black;
			}
			.line-break {
				display: block;
				@include media-breakpoint-down(sm) {
					display: inline;
				}
			}
			.slider-caption-btn {
				position: relative;
				bottom: -$spacer * 2;
				transition: all 0.75s cubic-bezier(0.16, 1, 0.3, 1);
				transition-delay: 1.5s;
				opacity: 0;
				@include media-breakpoint-down(sm) {
					bottom: 0;
				}
				.btn {
					@include media-breakpoint-down(sm) {
						padding: 0.7rem 0.9rem;
						letter-spacing: 0.5px;
					}
				}
			}
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		display: block;
		background: $white;
		width: 64px;
		height: 64px;
		position: absolute;
		bottom: $spacer * 4;
		z-index: 3;
		cursor: pointer;
		transition: all 0.2s;
		@include media-breakpoint-down(xxl) {
			bottom: $spacer * 2;
		}
		@include media-breakpoint-down(sm) {
			bottom: $spacer;
			width: 50px;
			height: 50px;
		}
		@include media-breakpoint-down(xs) {
			width: 40px;
			height: 40px;
		}
		&:hover,
		&:focus {
			box-shadow: 0 0 0 4px transparentize($white, 0.5);
		}
		&:active {
			transform: scale(0.9, 0.9);
			box-shadow: 0 0 0 12px transparentize($white, 0.8);
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			border: solid $gray-500;
			width: $spacer;
			height: $spacer;
			border-width: 2px 2px 0 0;
			transform: translate(-50%, -50%);
			@include media-breakpoint-down(xs) {
				width: $spacer * 0.8;
				height: $spacer * 0.8;
			}
		}
	}
	.swiper-button-next {
		right: $spacer * 4;
		@include media-breakpoint-down(sm) {
			right: $spacer;
		}
		&:after {
			margin-left: -4px;
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}
	.swiper-button-prev {
		right: calc(#{$spacer * 4} + 64px + #{$spacer});
		@include media-breakpoint-down(sm) {
			right: calc(#{$spacer} + 50px + #{$spacer});
		}
		@include media-breakpoint-down(xs) {
			right: calc(#{$spacer} + 40px + #{$spacer});
		}
		&:after {
			margin-left: 4px;
			transform: translate(-50%, -50%) rotate(-135deg);
		}
	}
}






.rooms-bk {
	width: 100%;
	+ .rooms-bk {
		margin-top: $spacer * 4;
	}
	.rooms-bk-title {
		margin-bottom: $spacer * 2;
	}
	.rooms-bk-cnt {
		display: flex;
		align-items: center;
		@include media-breakpoint-down(xl) {
			align-items: normal;
		}
		@include media-breakpoint-down(md) {
			flex-direction: column;
		}
	}
	.rooms-bk-slider-holder {
		width: 60%;
		@include media-breakpoint-down(xl) {
			width: 50%;
		}
		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}
	.rooms-bk-slider {
		width: 100%;
		@include media-breakpoint-down(xxl) {
			height: 100%;
		}
		.img-holder {
			@include media-breakpoint-down(xxl) {
				height: 100%;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.swiper-button-next,
		.swiper-button-prev {
			display: block;
			background: $gray-200;
			width: 64px;
			height: 64px;
			position: absolute;
			bottom: $spacer * 2;
			z-index: 3;
			cursor: pointer;
			transition: all 0.2s;
			@include media-breakpoint-down(xl) {
				width: 56px;
				height: 56px;
				bottom: $spacer * 1.5;
			}
			@include media-breakpoint-down(sm) {
				width: 40px;
				height: 40px;
				bottom: $spacer * 0.5;
			}
			&:hover,
			&:focus {
				box-shadow: 0 0 0 4px transparentize($white, 0.5);
			}
			&:active {
				transform: scale(0.9, 0.9);
				box-shadow: 0 0 0 12px transparentize($white, 0.8);
			}
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: $spacer;
				height: $spacer;
				border: solid $gray-800;
				border-width: 2px 2px 0 0;
				transform: translate(-50%, -50%);
				@include media-breakpoint-down(sm) {
					width: $spacer * 0.75;
					height: $spacer * 0.75;
				}
			}
		}
		.swiper-button-next {
			left: calc(#{$spacer * 2} + 64px + #{$spacer * 0.5});
			@include media-breakpoint-down(xl) {
				left: calc(#{$spacer * 1.5} + 56px + #{$spacer * 0.5});
			}
			@include media-breakpoint-down(sm) {
				left: calc(#{$spacer * 0.5} + 40px + #{$spacer * 0.5});
			}
			&:after {
				margin-left: -4px;
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}
		.swiper-button-prev {
			left: $spacer * 2;
			@include media-breakpoint-down(xl) {
				left: $spacer * 1.5;
			}
			@include media-breakpoint-down(sm) {
				left: $spacer * 0.5;
			}
			&:after {
				margin-left: 4px;
				transform: translate(-50%, -50%) rotate(-135deg);
			}
		}
	}
	.rooms-bk-cptn {
		position: relative;
		z-index: 2;
		width: calc(40% + #{($spacer * 4.5)});
		padding: $spacer * 2;
		padding-left: $spacer * 3;
		margin-left: -($spacer * 4.5);
		background: $gray-800;
		color: $gray-200;
		@include media-breakpoint-down(xl) {
			width: 50%;
			margin-left: 0;
		}
		@include media-breakpoint-down(md) {
			width: 100%;
			padding: $spacer * 1.5;
			padding-left: $spacer * 2.5;
		}
		@include media-breakpoint-down(sm) {
			font-size: $font-size-sm;
			padding: $spacer;
			padding-left: $spacer * 1.5;
		}
		.rooms-bk-cptn-list {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				position: relative;
				+ li {
					margin-top: $spacer;
					@include media-breakpoint-down(md) {
						margin-top: $spacer * 0.75;
					}
					@include media-breakpoint-down(sm) {
						margin-top: $spacer * 0.5;
					}
				}
				&:hover {
					&:before {
						width: 64px;
						left: -82px;
						@include media-breakpoint-down(md) {
							left: -78px;
							background: lighten($primary, 50%);
						}
						@include media-breakpoint-down(sm) {
							left: -71px;
						}
					}
				}
				&:before {
					content: '';
					position: absolute;
					top: 12px;
					left: -26px;
					width: 8px;
					height: 2px;
					background: $white;
					transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
					@include media-breakpoint-down(md) {
						left: -22px;
					}
					@include media-breakpoint-down(sm) {
						left: -15px;
						top: 11px;
						height: 1px;
					}
				}
			}
		}
	}
}


.contact-row {
	position: relative;
	display: flex;
	justify-content: flex-end;
	color: $primary;
	background: $gray-100;
	@include media-breakpoint-down(sm) {
		flex-direction: column;
	}
	.overlapped {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 1;
		@include media-breakpoint-down(sm) {
			position: static;
			left: auto;
			top: auto;
			transform: none;
		}
	}
	.contact-cols {
		width: 50%;
		position: relative;
		z-index: 2;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
	.contact-block {
		@include media-breakpoint-down(xs) {
			display: flex;
			gap: $spacer;
			align-items: center;
		}
		+ .contact-block {
			margin-top: $spacer * 2;
			@include media-breakpoint-down(sm) {
				margin-top: $spacer * 1.5;
			}
			@include media-breakpoint-down(xs) {
				margin-top: $spacer;
			}
		}
		.icon-holder {
			margin-bottom: $spacer * 0.5;
			opacity: 0.5;
			@include media-breakpoint-down(xs) {
				margin-bottom: 0;
			}
			svg {
				width: 56px;
				height: 56px;
				fill: lighten($primary, 20%);
				@include media-breakpoint-down(sm) {
					width: 40px;
					height: 40px;
				}
				@include media-breakpoint-down(xs) {
					width: 28px;
					height: 28px;
				}
			}
		}
		.icon-content {
			font-size: $lead-font-size;
			@include media-breakpoint-down(xs) {
				font-size: $font-size-base;
			}
		}
	}
	.google-map {
		height: 600px;
		@include media-breakpoint-down(sm) {
			height: 480px;
		}
	}
}



.contact-details {
	background: $gray-100;
	color: $primary;
	padding: $spacer * 4 0;
	@include media-breakpoint-down(lg) {
		padding: $spacer * 3 0;
	}
	@include media-breakpoint-down(sm) {
		padding: $spacer * 2.5 0;
	}
	.title {
		color: $primary;
		text-align: center;
		margin-bottom: $spacer * 2.5;
		@include media-breakpoint-down(lg) {
			margin-bottom: $spacer * 1.5;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: $spacer;
		}
	}
	.icon-holder {
		margin-bottom: $spacer * 1.5;
		opacity: 0.5;
		@include media-breakpoint-down(lg) {
			margin-bottom: $spacer;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: $spacer * 0.5;
		}
		svg {
			fill: lighten($primary, 20%);
		}
	}
}


#contact-modal {
	.modal-dialog {
		@include media-breakpoint-down(xs) {
			margin: 0;
			max-height: 100%;
		}
	}
	.close {
		line-height: 0;
		svg {
			width: 20px;
			height: 20px;
		}
	}
	.modal-body {
		height: 100vh;
		@include media-breakpoint-down(xs) {
			padding: $spacer * 0.4 0 $spacer * 2 $spacer * 0.4;
		}
		> iframe {
			display: inline-block;
			vertical-align: top;
		}
	}
}
